.h-safe-area-bottom {
  height: env(safe-area-inset-bottom);
}

/* 3D Flip 用のユーティリティクラスを定義 */
.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
